# =========================
# Compiled Object Files
# =========================
*.o
*.obj

# =========================
# Executables
# =========================
*.exe
*.out
*.app

# =========================
# Debug / IDE Files
# =========================
*.dSYM/
*.pdb
*.su
*.idb

# =========================
# Temporary / Backup Files
# =========================
*~
*.tmp
*.bak

# =========================
# Output Images (optional)
# =========================
output*.bmp

# =========================
# System files
# =========================
.DS_Store
Thumbs.db
